<div class="head_space"></div>


<!-- STATIC PAGES HOME LINK TO -->



  <div class="marginleft">
    <h1>Settings</h1>
      <ul>
        <li><%= link_to "Edit Password", edit_user_password_path %></li>
        <li><%= link_to "Unregester", edit_user_registration_path %></li>
      </ul>    
  </div>
