
@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  &:hover {
    color: green;
    text-decoration: none;
  }
}


.field, .actions, .marginleft {
  margin-left: 60px;
}